@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Lato', sans-serif;
}

button {
  cursor: pointer;
  font-weight: 700;
}

h1.main-title {
  font-size: 4rem;
  letter-spacing: 0.2rem;
  text-align: center;
}

.container {
  width: 100%;
  min-height: 100vh;
  margin: 2rem auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3d0c11;
  color: #d80032;
}

div.date-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 2rem;
}

div.step-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

div.step-counter span {
  color: #fff;
}

div.step-counter input[type='range'] {
  accent-color: #d80032;
  font-size: inherit;
}

div.input-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

div.input-counter button,
div.input-counter input[type='number'] {
  background-color: #d80032;
  color: #fff;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.2rem;
  font-size: inherit;
}

div.show-date {
  font-weight: 700;
  background-color: #fff;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
}

div.reset-date {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.reset-date button {
  background-color: #d80032;
  color: #fff;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: inherit;
}
